/* Style.css */
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

* {
  font-family: Onest, sans-serif;
}

body {
  text-align: center;
  max-width: 40rem;
  margin-inline: auto;
  background-color: gray;
}

h1 {
  font-size: 4rem;
}

p, li {
  font-size: 1.5rem;
}

.links {
  background-color: lightblue;
}

.recipe-link {
  display: block;
  font-size: 2rem;
  margin-bottom: .25rem;
  text-decoration: none;
  transition: font-size 0.2s ease-in-out;
}
.recipe-link:hover {
  font-size: 2.1em;
  text-decoration: underline;
}